#nav a {
    color: #aaa;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
    text-shadow: 0 -1px rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(255,255,255,.1);
    display: block;
    padding: .6em 0em .6em;
    width: 100%;
}
.container{  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}  
.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    margin-left: 13%;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    border-top-left-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.6);
    top: 5em;
    margin-left: 0px;
    bottom: 0;
    width: 56%;
    background: #fff;
}
